.awards {
  margin: 50px 0 140px 623px;
}
.awards.fadeBefore {
  opacity: 0;
  transform: translateY(10px);
}
.awards.fadeEnter {
  opacity: 1;
  transform: translateY(0%);
  transition: all 700ms ease-in-out 200ms;
}
.awards__item {
  position: relative;
  font-size: 14px;
  line-height: 1.57;
  margin-right: 39px;
  padding: 5px 0 5px 62px;
  display: inline-block;
  color: rgba(58, 58, 58, 0.8);
  font-weight: bold;
}
.awards__item__image {
  width: 54px;
  height: 54px;
  position: absolute;
  top: 0;
  left: 0;
}
