.logo {
  position: absolute;
  top: 150px;
  width: 400px;
  height: 338px;
  background-size: 400px 338px;
  padding-top: 280px;
  font-family: sans-serif;
  font-size: 15px;
  color: rgba(58, 58, 58, 0.7);
  background-image: url(./resources/triple@2x.png);
  background-repeat: no-repeat;
  text-align: center;
}
.logo.fadeBefore {
  opacity: 0;
  transform: translateY(10px);
}
.logo.fadeEnter {
  opacity: 1;
  transform: translateY(0%);
  transition: all 700ms ease-in-out 0s;
}
/* .logo__image {
  width: 400px;
} */
.logo__text {
  top: 0;
  right: 0;
}
